@import url('https://fonts.googleapis.com/css?family=Open');

body {
    font-family: 'Open', sans-serif;

    a {
        text-decoration: none;
    }

    navbar a {
        display: flex;
        align-items: center;
    }

    ul {
        list-style: none;
    }
}

body {
    margin: 0 auto;
    padding: 2em 1em;
    max-width: 1000px;
}